@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPro/SF-Pro-Text-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPro/SF-Pro-Text-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPro/SF-Pro-Display-Black.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPro/SF-Pro-Display-Semibold.otf');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SFPro', sans-serif;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 100%, rgba(65, 66, 99, 0.09) 100%, transparent 60%), url('../public/img/background.png') center center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

header {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(231, 231, 242, 0.4);
}

header .title {
  justify-self: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  font-size: 18px;
  margin-right: 60px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
}

header .title {
  font-size: 16px;
  font-weight: 900;
  width: 271px;
  text-align: center;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.right-side {
  display: flex;
  justify-self: end;
}

.right-side ul {
  margin-right: 20px;
}

main {
  margin-top: 260px;
}

.main__wrapper {
  position: relative;
  display: flex;
  height: 400px;
}

.main__wrapper .container {
  display: flex;
}

.main__text {
  width: 860px;
}

.main__title {
  margin-bottom: 32px;
}

.main__title h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.055rem;
}

.main__desc p {
  font-size: 28px;
  font-weight: 400;
  line-height: 2.65rem;
}

.main__next {
  position: absolute;
  display: flex;
  right: -10px;
  height: 100%;
  width: 570px;
  background-color: red;
  border-radius: 16px 0 0 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(70px);
  bottom: 48px;
}

.main__next__wrapper {
  padding: 48px 60px 48px 36px;
}

.main__next__title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 36px;
}

.main__next__text {
  width: 204px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.35;
}

.main__arrow {
  position: absolute;
  bottom: 44px;
}

.book {
  height: 200px;
  margin-top: 120px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(70px);
  border-radius: 20px 20px 0px 0px;
  padding: 35px 48px;
}

.book__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.075rem;
  margin-bottom: 16px;
}

.book__form {
  display: flex;
  justify-content: space-between;
}

.book__form__inputs {
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgba(231, 231, 242, 0.3);
  border-radius: 10px;
}

.input__wrapper {
  border-right: 1px solid rgba(231, 231, 242, 0.3);
}

.input__wrapper:last-child {
  border-right: none;
}

.book__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  width: 240px;
  padding: 27px 0 25px 0;
  background-color: #91CB82;
  border-radius: 10px;
  cursor: pointer;
}